logs/checkpoint/640_lamb/checkpoint
model/dataset.py
logs/checkpoint/640_lamb/ckpt-101.data-00000-of-00001
logs/checkpoint/640_lamb/ckpt-101.index
logs/emb/640_lamb/101/custom_source_shape.npy
logs/emb/640_lamb/101/custom_source.mm
logs/emb/640_lamb/101/db_shape.npy
logs/emb/640_lamb/101/db.mm
logs/emb/640_lamb/101/dummy_db_shape.npy
logs/emb/640_lamb/101/dummy_db.mm
logs/emb/640_lamb/101/query_shape.npy
logs/emb/640_lamb/101/query.mm
logs/emb/640_lamb/101/raw_score.npy
logs/emb/640_lamb/101/test_ids.npy
logs/fit/640_lamb/images/events.out.tfevents.1671874310.DESKTOP-TV2AP6A.12432.5.v2
logs/fit/640_lamb/mini_test/f/events.out.tfevents.1671874310.DESKTOP-TV2AP6A.12432.2.v2
logs/fit/640_lamb/mini_test/g(f)/events.out.tfevents.1671874310.DESKTOP-TV2AP6A.12432.4.v2
logs/fit/640_lamb/mini_test/L2(f)/events.out.tfevents.1671874310.DESKTOP-TV2AP6A.12432.3.v2
logs/fit/640_lamb/train/events.out.tfevents.1671874310.DESKTOP-TV2AP6A.12432.0.v2
logs/fit/640_lamb/val/events.out.tfevents.1671874310.DESKTOP-TV2AP6A.12432.1.v2
logs/fit/now_playing/images/events.out.tfevents.1671950335.256bc7605dd7.7152.5.v2
logs/fit/now_playing/images/events.out.tfevents.1671976070.DESKTOP-TV2AP6A.17376.5.v2
logs/fit/now_playing/mini_test/f/events.out.tfevents.1671950335.256bc7605dd7.7152.2.v2
logs/fit/now_playing/mini_test/f/events.out.tfevents.1671976070.DESKTOP-TV2AP6A.17376.2.v2
logs/fit/now_playing/mini_test/g(f)/events.out.tfevents.1671950335.256bc7605dd7.7152.4.v2
logs/fit/now_playing/mini_test/g(f)/events.out.tfevents.1671976070.DESKTOP-TV2AP6A.17376.4.v2
logs/fit/now_playing/mini_test/L2(f)/events.out.tfevents.1671950335.256bc7605dd7.7152.3.v2
logs/fit/now_playing/mini_test/L2(f)/events.out.tfevents.1671976070.DESKTOP-TV2AP6A.17376.3.v2
logs/fit/now_playing/train/events.out.tfevents.1671950335.256bc7605dd7.7152.0.v2
logs/fit/now_playing/train/events.out.tfevents.1671976070.DESKTOP-TV2AP6A.17376.0.v2
logs/fit/now_playing/val/events.out.tfevents.1671950335.256bc7605dd7.7152.1.v2
logs/fit/now_playing/val/events.out.tfevents.1671976070.DESKTOP-TV2AP6A.17376.1.v2
logs/emb/640_lamb/101/test.py
logs/checkpoint/640_lamb.yaml
__pycache__/main.cpython-310.pyc
__pycache__/ml.cpython-310.pyc
eval/__pycache__/__init__.cpython-310.pyc
eval/utils/__pycache__/__init__.cpython-310.pyc
eval/utils/__pycache__/get_index_faiss.cpython-310.pyc
eval/utils/__pycache__/print_table.cpython-310.pyc
model/__pycache__/__init__.cpython-310.pyc
model/__pycache__/dataset.cpython-310.pyc
model/fp/__pycache__/__init__.cpython-310.pyc
model/fp/__pycache__/nnfp.cpython-310.pyc
model/fp/melspec/__pycache__/__init__.cpython-310.pyc
model/fp/melspec/__pycache__/melspectrogram_tflite.cpython-310.pyc
model/utils/__pycache__/__init__.cpython-310.pyc
model/utils/__pycache__/audio_utils.cpython-310.pyc
model/utils/__pycache__/dataloader_keras.cpython-310.pyc
model/utils/__pycache__/
eval/__pycache__/__init__.cpython-310.pyc
eval/__pycache__/__init__.cpython-310.pyc
eval/utils/__pycache__/__init__.cpython-310.pyc
eval/__pycache__/__init__.cpython-310.pyc
eval/utils/__pycache__/__init__.cpython-310.pyc
eval/utils/__pycache__/get_index_faiss.cpython-310.pyc
eval/utils/__pycache__/print_table.cpython-310.pyc
model/__pycache__/__init__.cpython-310.pyc
model/__pycache__/dataset.cpython-310.pyc
model/fp/__pycache__/__init__.cpython-310.pyc
model/fp/__pycache__/nnfp.cpython-310.pyc
model/fp/melspec/__pycache__/__init__.cpython-310.pyc
model/fp/melspec/__pycache__/melspectrogram_tflite.cpython-310.pyc
model/utils/__pycache__/__init__.cpython-310.pyc
model/utils/__pycache__/audio_utils.cpython-310.pyc
model/utils/__pycache__/dataloader_keras.cpython-310.pyc
eval/__pycache__/__init__.cpython-310.pyc
temp/
eval/__pycache__/ 
eval/utils/__pycache__/
model/__pycache__/
model/fp/__pycache__/
model/fp/melspec/__pycache__/

